<% include partials/header %>

<meta name="description"
    content="<%= __('common.ServicesMetaDescription') %>">
<link rel="stylesheet" href="/stylesheets/services.css" />
<title><%= __('common.ServicesTitle') %></title>

<% include partials/navbar %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><%= __('common.WelcomeToAnts') %></h1>
            <% if (!currentUser) { %>
            <div class="float-left">
                <a class="btn btn-outline-light btn-md" href="/vendor/register"><%= __('common.RegisterAsVendor') %></a>
            </div>
            <div>
                <a class="btn btn-outline-light btn-md" href="/customer/register"><%= __('common.RegisterAsCustomer') %></a>
            </div>
            <% } else { %>
            <p><%= __('common.ServicesLandingSlogan') %></p>
            <% } %>
        </div>
    </header>

    <div class="row text-center services-container">
        <% if (services && services.length > 0) { %>
            <% services.forEach(service => { %>
                <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-16">
                    <div class="img-thumbnail">
                        <!-- Dynamically display a placeholder image -->
                        <img class="img-fluid" src="<%= service.images || '/path/to/placeholder.jpg' %>" alt="<%= service.keyname %>">

                        <div class="caption">
                            <!-- Display service name using keyname for multilingual support -->
                            <h4><%= __('common.' + service.keyname) %></h4>
                        </div>
                        <p>
                            <!-- Generate link using service name or a unique identifier -->
                            <a href="/services/<%= service._id %>" class="btn btn-outline-info"><%= __('common.MoreInfo') %></a>
                        </p>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p class="text-center"><%= __('common.NoServicesAvailable') %></p>
        <% } %>
    </div>
</div>

<% include partials/footer %>
