<% include ../partials/header %>

<title><%= __('common.admin_registration_title') %> </title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>
<div class="container form-content">
    <h1 class="text-center"><%= __('common.admin_registration_heading') %></h1>
    <div class="form-container">
        <form action="/admin/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" maxlength="30" name="fname" placeholder="<%= __('common.admin_registration_firstname') %>" required
                    autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="30" name="lname" placeholder="<%= __('common.admin_registration_lastname') %>" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="35" name="username" placeholder="<%= __('common.admin_registration_username') %>" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" maxlength="254" name="email" placeholder="<%= __('common.admin_registration_email') %>" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" maxlength="254" name="confirmemail" placeholder="<%= __('common.admin_registration_confirmemail') %>"
                    required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" minlength="8" maxlength="30" name="password"
                    placeholder="<%= __('common.admin_registration_password') %>" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" minlength="8" maxlength="30" name="confirmpassword"
                    placeholder="<%= __('common.admin_registration_confirmpassword') %>" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"><%= __('common.admin_registration_button') %></button>
            </div>
        </form>
        <p><%= __('common.admin_registration_already_have_account') %> <a href="/admin/login"><%= __('common.admin_registration_login') %></a>
    </div>
</div>

<% include ../partials/footer %>