<% include partials/header %>

<meta name="description"
	content="<%= __('common.LandingMetaDescription') %>">
<title><%= __('common.LandingTitle') %></title>
<link rel="stylesheet" href="/stylesheets/landing.css" />

<% include partials/navbar %>

<script type="text/javascript" src="/scripts/landing.js"></script>

<div class="container landing-container text-center">
	<div class="row">
		<div class="col-lg-12">
			<div id="contentCenter">
				<h1><%= __('common.LandingHelloAnts') %></h1>
				<h3><%= __('common.LandingSlogan') %></h3>
				<hr>
				<a class="btn btn-light btn-lg" href="/services">
					<i class="fas fa-tools"></i><%= __('common.LandingGetStarted') %>
				</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
