<% include ../partials/header %>

<title><%= __('common.edit_customer_title') %></title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>

<div class="container form-content">
	<h1 class="text-center"><%= __('common.edit_customer_heading')%> <%= currentUser.username %></h1>
	<div class="form-container">
		<form action="/customer/<%= currentUser._id %>?_method=PUT" method="POST">
			<div class="form-group">
				<label for="fname"><%= __('common.edit_customer_first_name') %></label>
				<input class="form-control" type="text" maxlength="30" name="fname" value="<%= currentUser.fname %>"
					required>
			</div>
			<div class="form-group">
				<label for="lname"><%= __('common.edit_customer_last_name') %></label>
				<input class="form-control" type="text" maxlength="30" name="lname" value="<%= currentUser.lname %>"
					required>
			</div>
			<div class="form-group">
				<label for="email"><%= __('common.edit_customer_email') %></label>
				<input class="form-control" type="email" maxlength="254" name="email" value="<%= currentUser.email %>"
					required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block"><%= __('common.edit_customer_update_button') %></button>
			</div>
		</form>
		<a href="/services"><%= __('common.edit_customer_cancel') %></a>
	</div>
</div>

<% include ../partials/footer %>