<% include ../partials/header %>

<meta name="description"
	content="<%= __('common.customer_login_meta') %>">
<title><%= __('common.customer_login_title') %></title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>

<div class="container form-content">
	<h1 class="text-center"><%= __('common.customer_login_heading') %></h1>
	<div class="form-container">
		<form action="/customer/login" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="<%= __('common.customer_login_username_placeholder') %>" required autofocus>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="<%= __('common.customer_login_password_placeholder') %>" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block"><%= __('common.customer_login_button') %></button>
			</div>
		</form>
		<a href="/customer/forgot"><%= __('common.customer_login_forgot_password') %></a>
		<p><%= __('common.customer_login_no_account') %> <a href="/customer/register"><%= __('common.customer_login_register') %></a></p>
	</div>
</div>

<% include ../partials/footer %>