<% include ../partials/header %>

<meta name="description" content="<%= __('common.customer_registration_meta') %>">
<title><%= __('common.customer_registration_title') %></title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>
<div class="container form-content">
	<h1 class="text-center"><%= __('common.customer_registration_heading') %></h1>
	<div class="form-container">
		<form action="/customer/register" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" maxlength="30" name="fname" value="<%= fname || '' %>" placeholder="<%= __('common.customer_registration_first_name_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="30" name="lname" value="<%= lname || '' %>" placeholder="<%= __('common.customer_registration_last_name_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="35" name="username" value="<%= username || '' %>" placeholder="<%= __('common.customer_registration_username_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" maxlength="254" name="email" value="<%= email || '' %>" placeholder="<%= __('common.customer_registration_email_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" maxlength="254" name="confirmemail" value="<%= confirmemail || '' %>" placeholder="<%= __('common.customer_registration_confirm_email_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" minlength="8" maxlength="30" name="password" placeholder="<%= __('common.customer_registration_password_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" minlength="8" maxlength="30" name="confirmpassword" placeholder="<%= __('common.customer_registration_confirm_password_placeholder') %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="80" name="address" value="<%= address || '' %>" placeholder="<%= __('common.customer_registration_address_placeholder') %>" required>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group">
							<input class="form-control" type="text" maxlength="30" name="area" value="<%= area || '' %>" placeholder="<%= __('common.customer_registration_area_placeholder') %>" required>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group">
							<input class="form-control" type="text" maxlength="30" name="city" value="<%= city || '' %>" placeholder="<%= __('common.customer_registration_city_placeholder') %>" required>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group">
							<input class="form-control" type="text" maxlength="30" name="state" value="<%= state || '' %>" placeholder="<%= __('common.customer_registration_state_placeholder') %>" required>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group">
							<input class="form-control" type="text" maxlength="6" name="pincode" value="<%= pincode || '' %>" placeholder="<%= __('common.customer_registration_pincode_placeholder') %>" required>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="10" name="mobile" value="<%= mobile || '' %>" placeholder="<%= __('common.customer_registration_mobile_placeholder') %>" required>
			</div>
			<div class="form-group">
				<select class="form-control" name="type" required>
					<option value=""><%= __('common.customer_registration_select_type') %></option>
					<option value="Home"><%= __('common.customer_registration_type_home') %></option>
					<option value="Office"><%= __('common.customer_registration_type_office') %></option>
				</select>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block"><%= __('common.customer_registration_button') %></button>
			</div>
		</form>
		<p><%= __('common.customer_registration_already_have_account') %> <a href="/customer/login"><%= __('common.customer_registration_login') %></a></p>
	</div>
</div>

<% include ../partials/footer %>
